#### Importing packages

In [1]:
import pandas as pd

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

In [2]:
from scraper import *

#### NSE Index Companies Details

In [3]:
## https://www.nseindia.com/market-data/live-equity-market?symbol=NIFTY%20MIDCAP%2050

index = "NIFTY 50"
nifty50_stocks_details_pd = nse_index_stocks_list(index)

In [4]:
nifty50_stocks_details_pd.head(2)

,SYMBOL,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CHNG,%CHNG,VOLUME (shares),VALUE,52W H,52W L,365 D % CHNG 11-Sep-2019,30 D % CHNG 11-Aug-2020
1,WIPRO,282.50,298.45,282.50,284.55,292.55,8.00,2.81,41937351,"12,321,613,097.31",298.45,159.40,19.93,6.19
2,SBIN,198.55,203.85,197.00,198.15,203.70,5.55,2.80,48488142,"9,692,294,704.38",351.00,149.45,-29.39,-0.30

#### Yahoo Finance Scraper

![](example.png)

In [7]:
wipro_pd = yahoo_finance_scraper("WIPRO.NS")

In [8]:
wipro_pd.head(2)

,date,open,high,low,close,adj_close,volume,symbol
0,2000-01-03,102.150002,102.157997,102.150002,102.157997,26.713875,42640.0,WIPRO
1,2000-01-04,110.331001,110.331001,110.331001,110.331001,28.851078,117120.0,WIPRO

#### Data: Nifty50 stocks historical data (scraping from NSE)

In [9]:
# def nse_stock_historical_data(symbol, series="EQ", start_date=datetime(2000, 1, 1).date(), end_date=datetime.today().date()):
#     """
#     Parameters:
#     a. symbol
#     b. series
#     c. start_date
#     d. end_date
#     """
    
#     path = "https://www.nseindia.com/api/historical/cm/equity?symbol={}&series=[%22{}%22]&from={}&to={}&csv=true"

    
#     data = None
    
#     ## scrapping (one year data at a time)
#     while(start_date<=end_date):
#         path = data_path.format(symbol, series, start_date.strftime("%d-%m-%Y"), datetime(start_date.year, 12, 31).date().strftime("%d-%m-%Y"))
#         response = request_wrapper(path).content
#         data = pd.concat([data, pd.read_csv(io.StringIO(response.decode('utf-8')))]) if (data is not None) else pd.read_csv(io.StringIO(response.decode('utf-8')))
        
#         start_date = datetime(start_date.year+1, 1, 1).date()
    
#     ## preprocessing column names
#     data.columns = [col.lower().strip() for col in data.columns]

#     ## date
#     data['date'] = data['date'].apply(lambda x: datetime.strptime(x, '%d-%b-%Y').date())
#     data = data[data["date"]<=end_date]

#     ## sorting
#     data.sort_values('date', inplace=True, ignore_index=True)
        
#     return data

#### Downloading historical data of all companies in a index

In [33]:
index = "NIFTY SMALLCAP 50"
stocks_details_pd = nse_index_stocks_list(index)

In [40]:
stocks_list = [i+".NS" for i in stocks_details_pd['SYMBOL'].values] + ['NIFTYSMLCAP50.NS']

In [43]:
for stock_symbol in stocks_list[::-1]:
    data = yahoo_finance_scraper(stock_symbol)
    data.to_csv("yahoo_finance_nifty_smallcap50_stocks_data copy/{}.csv".format(stock_symbol), index=False)

#### References

##### data sources
- https://www.investing.com/indices/
- https://www.niftyindices.com/reports/historical-data
- https://in.finance.yahoo.com/

- https://www.nseindia.com/get-quotes/equity?symbol=M%26M

In [ ]:
#no